.search-container{
    display:flex;
    justify-content:center;
    margin:10px;
}

.search-input{
    padding:10px 15px;
    font-size:15px;
    width:350px;
    border-width:0px;
    background: rgb(226, 96, 226);
    color: rgb(59, 25, 51);
    border-radius:80px;
    box-shadow:0 0 5px rgba(255,255,255,0.5);
}

.search-input::placeholder{
    color:black;
}

.search-input:focus{
    outline:none;
}